name: Build

on:
  push:
  pull_request:
  schedule:
    - cron: '0 3 * * 1' # Every monday at 3am

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - 7.4
          - 8.0
          - 8.1
        include:
          - php-version: 8.0
            check-code: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov

      - name: Validate configs
        run: composer validate

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-PHP${{ matrix.php-version }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-PHP${{ matrix.php-version }}-
            ${{ runner.os }}-

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress

      - name: Unit tests
        run: composer run-script test-unit

      - name: Integration tests
        run: composer run-script test-integration
        env:
          PATREON_KEY: ${{ secrets.patreon_key }}

      - name: Analyze code
        if: ${{ matrix.check-code }}
        run: composer run-script analyze-code

      - name: Check code
        if: ${{ matrix.check-code }}
        run: composer run-script check-code
        env:
          PHP_CS_FIXER_IGNORE_ENV: 1

      - name: Upload coverage report
        run: composer run-script upload-coverage
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.github_token }}
          COVERALLS_PARALLEL: true
          COVERALLS_FLAG_NAME: PHP ${{ matrix.php-version }}

  finish:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Coveralls finished
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
